* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 #transformaciones-container{
    display: grid;
    background-color: #272B33;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto;
    grid-template-areas: 
        "titulo"
        "transformacion";
} 

#titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}

#transformacion{
    grid-area: transformacion;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
} 

#titulo-transformacion{
    color: #FBC02D;
    font-size: 40px;
    font-weight: bold;
    font-family: "Segoe UI"
}
